html {
    scroll-behavior: smooth;
}

body, html {
    overflow-x: hidden;
    max-width: 100vw;
}

.fc-widget-small {
    z-index: 1150 !important;
}

p {
    margin: 0 0 1rem 0;
}

#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.MuiPaper-root img, .responsive {
    max-width: 100% !important;
}

.MuiPaper-rounded {
    border-radius: 10px;
}
