@import './tailwind.css';
@import './rich-text.css';

body,
html {
  overflow-anchor: auto;
}
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.people-masonry {
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-flow: dense;
}
.people-masonry .short {
  grid-row: span 2 / auto;
}
.people-masonry .tall {
  grid-row: span 3 / auto;
}
