@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    overflow-anchor: auto;
    font-family: theme('fontFamily.sans');
  }

  *:focus {
    @apply outline-none focus:ring ring-secondary-400;
  }

  #__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .outline input:focus-within ~ label,
  .outline input:not(:placeholder-shown) ~ label,
  .outline textarea:focus-within ~ label,
  .outline textarea:not(:placeholder-shown) ~ label {
    @apply scale-75 -translate-y-4 z-0 ml-3 px-1 py-0;
  }
}

@layer components {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .yt-lite > .lty-playbtn {
    width: 70px;
    height: 46px;
    background-color: #212121;
    z-index: 1;
    opacity: 0.8;
    border-radius: 14%; /* TODO: Consider replacing this with YT's actual svg. Eh. */
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  }
  .yt-lite:hover > .lty-playbtn {
    background-color: #f00;
    opacity: 1;
  }
  /* play button triangle */
  .yt-lite > .lty-playbtn:before {
    content: '';
    border-style: solid;
    border-width: 11px 0 11px 19px;
    border-color: transparent transparent transparent #fff;
  }

  .yt-lite > .lty-playbtn,
  .yt-lite > .lty-playbtn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .yt-lite.lyt-activated {
    cursor: unset;
  }
  .yt-lite.lyt-activated::before,
  .yt-lite.lyt-activated > .lty-playbtn {
    opacity: 0;
    pointer-events: none;
  }
}
